#accordion .panel-heading { padding: 0;}
#accordion .panel-title > a {
  display: block;
  padding: 0.4em 0.6em;
    outline: none;
    font-weight:bold;
    text-decoration: none;
}

#accordion .panel-title > a.accordion-toggle::before, #accordion a[data-toggle="collapse"]::before  {
    content:"\e113";
    float: left;
    font-family: 'Glyphicons Halflings';
  margin-right :1em;
}
#accordion .panel-title > a.accordion-toggle.collapsed::before, #accordion a.collapsed[data-toggle="collapse"]::before  {
    content:"\e114";
}



/* sidebar style */

.main-sidebar{
  padding: 0 ! important;
}

.main-sidebar .list-group .list-group-item{
  border-left: 0 ! important;
  border-right: 0 ! important;
  border-radius: 0 ! important;
}

/* unvisited link */
.main-side:link {
    text-decoration: none ! important;
    color: inherit;
}

/* visited link */
.main-side:visited {
    text-decoration: none ! important;
        color: inherit;

}

/* mouse over link */
.main-side:hover {
    text-decoration: none ! important;
        color: inherit;

}

/* selected link */
.main-side:active {
    text-decoration: none ! important;
        color: inherit;

}

.list-group .list-group-item{
  font-weight: bold;
}